body {
    height: 100%;
    background: linear-gradient(15deg, #6a11cb, #18015c);
    animation: gradientAnimation 10s ease infinite;
}
.bg{
    /* The image used */
    background: linear-gradient(135deg, #ded5e8, #022d73,#230d39,#5146d7); /* Purple to blue gradient */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    animation: gradientAnimation 10s ease infinite;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 300% 300%;


}
.logo{
    img{
        width: 800px;
        vertical-align:middle;
        border-style:none
    }
}
.faces .preprocess{
    img{vertical-align:middle;
    border-style:none}
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
section{
    padding-top: 60px;
}
.container{
    background-size: 300% 300%;
    background: linear-gradient(135deg, #ded5e8, #022d73,#230d39,#5146d7);
    animation: gradientAnimation 10s ease infinite;
}
.width-300{
    width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0px 9px 2px #ccc;
}

.width-400{
    background: rgba(87, 155, 198, 0.8);
    width: 400px;
    margin: auto;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 150px;
    box-shadow: 0 0px 9px 2px #ccc;
    backdrop-filter: blur(15px);
    border-radius: 25px;
}
.form-group input[type="file"],
.form-group input[type="number"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Light border */
    border-radius: 8px;
    background-color: #f9f9f9; /* Soft background */
    color: #555;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}
.width-500{
    width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0px 9px 2px #ccc;
}
#videoUpload {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(90deg, #6c63ff, #3f51b5); /* Gradient button */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#videoUpload:hover {
    background: linear-gradient(90deg, #3f51b5, #6c63ff); /* Reverse gradient */
    box-shadow: 0 4px 10px rgba(108, 99, 255, 0.5);
}

#videoUpload:active {
    background: #5146d7; /* Slightly darker on click */
    transform: scale(0.98); /* Button press effect */
}
#videos{
    display: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.preprocess {
    padding-right: 20px;
    padding-bottom: 50px;
}

#preprocessed_images {
  white-space: nowrap;
  width: auto;
  height: 250px;
  padding: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: 0 0px 9px 2px #ccc;
}

#faces_images {
    white-space: nowrap;
    width: auto;
    height: 150px;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: 0 0px 9px 2px #ccc;
}

.faces {
    padding-right: 20px;
    padding-bottom: 50px;
}

#heatmap_images{
    white-space: nowrap;
    width: auto;
    height: 200px;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: 0 0px 9px 2px #ccc;
    margin-bottom: 20px;
}

.heat-map {
    padding-right: 20px;
    padding-bottom: 50px;
}

/* span.spinner-border {
    display: none;
} */