{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="logo text-center mb-3">
        <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Logo">
    </div>
    <hr />

    {% if file_type == "video" %}
        <h3>Video Prediction Result</h3>
        <div class="result text-center mb-3">
            <!-- Display uploaded video -->
            <video height="320" width="640" id="uploaded-video" controls>
                <source src="{{ url_for('static', filename='uploads/' + uploaded_video) }}" type="video/mp4">
            </video>
            <h4>Processing Status: <span style="color:green">Completed</span></h4>
        </div>

        <h3>Processed Frames</h3>
        <div id="frames" class="row mt-4">
            <!-- Display processed frames with bounding boxes -->
            {% for frame in processed_frames %}
                <div class="col-md-4 mb-3">
                    <img src="{{ url_for('static', filename=frame) }}" class="img-fluid" alt="Processed Frame">
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No video uploaded or processed. Please go back and try again.</p>
    {% endif %}
</div>
{% endblock %}